* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --color-00: #fff;
  --color-01: #098dd8;
  --color-02: #d9d9d9;
}

html {
  font-family: "Inter", sans-serif;
}
html > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=text],
input[type=tel],
input[type=datetime-local],
textarea {
  border: 2px solid var(--color-01);
  border-radius: 30px;
  padding: 17px 23px;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
}
input[type=text]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder, input[type=datetime-local]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #000000;
}
input[type=text]::-moz-placeholder, input[type=tel]::-moz-placeholder, input[type=datetime-local]::-moz-placeholder, textarea::-moz-placeholder {
  color: #000000;
}
input[type=text]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder, input[type=datetime-local]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #000000;
}
input[type=text]::-ms-input-placeholder, input[type=tel]::-ms-input-placeholder, input[type=datetime-local]::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #000000;
}
input[type=text]::placeholder,
input[type=tel]::placeholder,
input[type=datetime-local]::placeholder,
textarea::placeholder {
  color: #000000;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.tooltip {
  height: 28px;
  width: 28px;
  background-color: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.tooltip__icon {
  background: url("../img/question.svg") center no-repeat;
  height: 28px;
  width: 28px;
  border-radius: 50%;
}
.tooltip:hover > .tooltip__text {
  display: block;
}
.tooltip__text {
  display: none;
  position: absolute;
  background-color: #d9d9d9;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 432px;
  z-index: 99;
  padding: 18px 62px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-radius: 5px;
  color: #000;
}
.tooltip--left .tooltip__text {
  right: 0%;
  max-width: 632px;
}
.tooltip__text ul {
  margin-top: 15px;
}
.tooltip__text ul li {
  list-style: disc inside;
}
.tooltip__text ul li:first-of-type {
  margin-top: 15px;
}
.tooltip__text img {
  position: absolute;
  left: 30px;
  width: 11px;
  height: 24px;
}

.button {
  padding: 9px 18px;
  border: 2px solid var(--color-01);
  border-radius: 87px;
  color: #000;
  background: transparent;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}
.button--active {
  color: var(--color-00);
  background-color: var(--color-01);
}
.button--area {
  width: 48%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.button--area input {
  width: 30%;
  min-width: 15px;
  border: 2px solid var(--color-01);
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}
.button--area input::-webkit-input-placeholder {
  color: #000000;
}
.button--area input::-moz-placeholder {
  color: #000000;
}
.button--area input:-ms-input-placeholder {
  color: #000000;
}
.button--area input::-ms-input-placeholder {
  color: #000000;
}
.button--area input::placeholder {
  color: #000000;
}
.button--increase {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.button--increase div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button--increase button {
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
  height: -webkit-max-content !important;
  height: -moz-max-content !important;
  height: max-content !important;
  background: transparent;
  margin-bottom: 0 !important;
  color: var(--color-00);
}
.button--increase button:first-of-type {
  margin-right: 5px;
}
.button--increase button:last-of-type {
  margin-left: 5px;
}

.form {
  margin: auto;
  max-width: 1112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
}
.form__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 61px;
}
.form__title h1 {
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
  margin-right: 18px;
}
.form__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form .form__block--border {
  border: 2px solid var(--color-01);
  border-radius: 30px;
}
.form .form__block .block__title--main {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 24px;
}
.form .form__block .block__title--secondary {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 10px;
}
.form .form__block .block__title--tertiary {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 17px;
}
.form__buttons {
  width: 66%;
  max-height: 152px;
  padding: 0px 43px 0 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 5px;
}
.form__buttons button {
  width: 48%;
}
.form__buttons button:first-of-type, .form__buttons button:nth-child(2) {
  margin-bottom: 16px;
}
.form__request {
  width: 32%;
  background-color: var(--color-01);
  margin-bottom: 26px;
}
.form__request .request__text {
  background-color: var(--color-00);
  border-radius: 29px 29px 0px 0px;
  padding: 15px 25px;
}
.form__request .request__list {
  min-height: 200px;
  max-height: 230px;
  overflow-y: auto;
}
.form__request .request__list::-webkit-scrollbar {
  width: 3px;
  background-color: #f9f9fd;
}
.form__request .request__list::-webkit-scrollbar-thumb {
  background-color: #abacad;
  border-radius: 3px;
}
.form__request .request__list li {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.form__request .request__list li:not(:last-of-type) {
  margin-bottom: 7px;
}
.form__request .request__total {
  color: var(--color-00);
  padding: 15px 24px 19px;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  border-radius: 0px 0px 29px 29px;
}
.form__additional {
  width: 64%;
  position: relative;
  top: -115px;
}
.form__additional .additional__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__additional .additional__table .table__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 28px 0.4fr 28px 0.4fr;
  grid-template-columns: 1fr repeat(2, 0.4fr);
  -ms-grid-rows: 0.5fr;
  grid-template-rows: 0.5fr;
  grid-column-gap: 28px;
  grid-row-gap: 0px;
  padding: 10px 24px;
}
.form__additional .additional__table .table__row > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.form__additional .additional__table .table__row > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.form__additional .additional__table .table__row > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.form__additional .additional__table .table__row.active {
  background-color: var(--color-01);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 87px;
}
.form__additional .additional__table .table__row.active > * {
  color: var(--color-00);
}
.form__additional .additional__table .table__row.active button {
  color: var(--color-00);
}
.form__additional .additional__table .table__row .row__td {
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__additional .additional__table .table__row .row__td:not(:first-of-type) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}
.form__additional .additional__table .table__row .row__td .tooltip {
  margin-left: 7px;
}
.form__additional .additional__table .table__row .row__td.button {
  border: none;
  padding: 0;
}
.form__additional .additional__table .table__row .row__td.counter button {
  background: transparent;
}
.form__additional .additional__table .table__row .row__td.counter button:first-of-type {
  margin-right: 4px;
}
.form__additional .additional__table .table__row .row__td.counter button:last-of-type {
  margin-left: 4px;
}
.form__additional .additional__table .table__row:not(:last-of-type) {
  margin-bottom: 7px;
}
.form__submit {
  width: 32%;
  padding: 20px 26px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 21px;
}
.form__submit * {
  width: 100%;
}
.form__submit *:not(:last-child) {
  margin-bottom: 15px;
}
.form__submit .submit__additional {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.form__submit .submit__additional a {
  color: var(--color-01);
  cursor: pointer;
}
.form__info {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}
.form__info p {
  margin-bottom: 15px;
}
.form__info span {
  font-weight: 700;
}

@media (max-width: 971px) {
  h1 {
    text-align: center;
  }
  .form__buttons {
    max-height: 185px;
  }
}
@media (max-width: 700px) {
  .form__title h1 {
    font-size: 28px;
    line-height: 35px;
    margin: 0;
  }
  input[type=text],
input[type=tel],
input[type=datetime-local],
textarea {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 25px;
  }
  .button {
    font-size: 18px;
    line-height: 27px;
  }
  .tooltip {
    height: 22px;
    width: 22px;
    margin-left: 5px;
  }
  .tooltip__icon {
    height: 22px;
    width: 22px;
  }
  .tooltip__text {
    font-size: 16px;
    line-height: 22px;
    padding: 18px 32px;
    max-width: 300px;
  }
  .tooltip--left .tooltip__text {
    max-width: 400px !important;
  }
  .tooltip__text img {
    position: absolute;
    left: 15px;
    width: 7px;
    height: 19px;
  }
  .form {
    padding: 10px;
  }
  .form__title {
    margin-bottom: 30px;
  }
  .form__info {
    font-size: 17px;
    line-height: 26px;
  }
  .form__info p {
    margin-bottom: 10px;
  }
  .form__block .block__title--main {
    font-size: 28px;
    line-height: 35px;
  }
  .form__block .block__title--secondary {
    font-size: 20px !important;
    line-height: 25px !important;
  }
  .form__block .block__title--tertiary {
    font-size: 20px !important;
    line-height: 25px !important;
    margin-bottom: 13px !important;
  }
  .form__grid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form__buttons {
    width: 100%;
    padding: 0;
  }
  .form__request {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 0;
    width: 100%;
  }
  .form__request .request__list {
    min-height: 100px;
    max-height: 200px;
  }
  .form__request .request__list li {
    font-size: 16px;
    line-height: 22px;
  }
  .form__request .request__total {
    font-size: 18px;
    line-height: 23px;
  }
  .form__additional {
    top: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .form__additional .additional__table .table__row {
    padding: 10px 15px;
  }
  .form__additional .additional__table .table__row .row__td {
    font-size: 15px;
    line-height: 20px;
  }
  .form__submit {
    width: 100%;
    margin: 0 0 20px 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .form__submit .submit__additional {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  .form__submit form textarea {
    height: 100px;
  }
}
@media (max-width: 500px) {
  .form__buttons {
    max-height: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form__buttons .button {
    width: 70%;
    margin-bottom: 16px;
  }
  .form__buttons .button:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .form__buttons .button:nth-child(4) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .form .form__block .block__title--main {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 17px;
  }
  .tooltip--left .tooltip__text {
    max-width: 300px !important;
  }
  .tooltip__text {
    font-size: 14px;
    line-height: 20px;
    max-width: 200px;
  }
  .tooltip__text ul,
.tooltip__text li:first-of-type {
    margin-top: 7px !important;
  }
}
@media (max-width: 450px) {
  .form__buttons .button {
    width: 80%;
  }
}