@import "null";

input[type="text"],
input[type="tel"],
input[type="datetime-local"],
textarea {
  border: 2px solid var(--color-01);
  border-radius: 30px;
  padding: 17px 23px;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;

  &::placeholder {
    color: #000000;
  }
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.tooltip {
  height: 28px;
  width: 28px;
  background-color: #d9d9d9;
  border-radius: 50%;
  position: relative;

  &__icon {
    background: url("../img/question.svg") center no-repeat;
    height: 28px;
    width: 28px;
    border-radius: 50%;
  }

  &:hover > .tooltip__text {
    display: block;
  }

  &__text {
    display: none;
    position: absolute;
    background-color: #d9d9d9;
    width: max-content;
    max-width: 432px;
    z-index: 99;
    padding: 18px 62px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    border-radius: 5px;
    color: #000;

    .tooltip--left & {
      right: -0%;
      max-width: 632px;
    }

    ul {
      margin-top: 15px;

      li {
        list-style: disc inside;

        &:first-of-type {
          margin-top: 15px;
        }
      }
    }

    img {
      position: absolute;
      left: 30px;
      width: 11px;
      height: 24px;
    }
  }
}

.button {
  padding: 9px 18px;
  border: 2px solid var(--color-01);
  border-radius: 87px;
  color: #000;
  background: transparent;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;

  &--active {
    color: var(--color-00);
    background-color: var(--color-01);
  }

  &--area {
    width: 48%;
    align-items: center;
    display: flex;
    justify-content: space-between;

    input {
      width: 30%;
      min-width: 15px;
      border: 2px solid var(--color-01);
      border-radius: 5px;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;

      &::placeholder {
        color: #000000;
      }
    }
  }

  &--increase {
    width: 48%;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;
    }

    button {
      width: max-content !important;
      height: max-content !important;
      background: transparent;
      margin-bottom: 0 !important;
      color: var(--color-00);

      &:first-of-type {
        margin-right: 5px;
      }

      &:last-of-type {
        margin-left: 5px;
      }
    }
  }
}

.form {
  --color-00: #fff;
  --color-01: #098dd8;
  --color-02: #d9d9d9;
  margin: auto;
  max-width: 1112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  font-family: "Inter", sans-serif;

  & > * {
    box-sizing: border-box;
  }

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 61px;

    h1 {
      font-size: 32px;
      line-height: 39px;
      font-weight: 700;
      margin-right: 18px;
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
  }

  .form__block {
    &--border {
      border: 2px solid var(--color-01);
      border-radius: 30px;
    }

    .block__title {
      &--main {
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        margin-bottom: 24px;
      }

      &--secondary {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 10px;
      }

      &--tertiary {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 17px;
      }
    }
  }

  &__buttons {
    width: 66%;
    max-height: 152px;

    padding: 0px 43px 0 43px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    margin-top: 5px;

    button {
      width: 48%;
      &:first-of-type,
      &:nth-child(2) {
        margin-bottom: 16px;
      }
    }
  }

  &__request {
    width: 32%;

    background-color: var(--color-01);
    margin-bottom: 26px;

    .request__text {
      background-color: var(--color-00);
      border-radius: 29px 29px 0px 0px;
      padding: 15px 25px;
    }

    .request__list {
      min-height: 200px;
      max-height: 230px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 3px;
        background-color: #f9f9fd;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #abacad;
        border-radius: 3px;
      }

      li {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;

        &:not(:last-of-type) {
          margin-bottom: 7px;
        }
      }
    }

    .request__total {
      color: var(--color-00);
      padding: 15px 24px 19px;
      font-weight: 500;
      font-size: 22px;
      line-height: 27px;
      border-radius: 0px 0px 29px 29px;
    }
  }

  &__additional {
    width: 64%;
    position: relative;
    top: -115px;

    .additional__table {
      display: flex;
      flex-direction: column;

      .table__row {
        display: grid;
        grid-template-columns: 1fr repeat(2, 0.4fr);
        grid-template-rows: 0.5fr;
        grid-column-gap: 28px;
        grid-row-gap: 0px;
        padding: 10px 24px;

        &.active {
          background-color: var(--color-01);
          box-sizing: content-box;
          border-radius: 87px;

          & > * {
            color: var(--color-00);
          }

          button {
            color: var(--color-00);
          }
        }

        .row__td {
          font-weight: 500;
          font-size: 19px;
          line-height: 24px;
          display: flex;
          align-items: center;

          &:not(:first-of-type) {
            justify-content: flex-start;
            width: 100%;
          }

          .tooltip {
            margin-left: 7px;
          }

          &.button {
            border: none;
            padding: 0;
          }

          &.counter {
            button {
              background: transparent;

              &:first-of-type {
                margin-right: 4px;
              }

              &:last-of-type {
                margin-left: 4px;
              }
            }
          }
        }

        &:not(:last-of-type) {
          margin-bottom: 7px;
        }
      }
    }
  }

  &__submit {
    width: 32%;
    padding: 20px 26px;
    height: max-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-left: 21px;

    * {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    .submit__additional {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;

      a {
        color: var(--color-01);
        cursor: pointer;
      }
    }
  }

  &__info {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;

    p {
      margin-bottom: 15px;
    }

    span {
      font-weight: 700;
    }
  }
}

@media (max-width: 971px) {
  h1 {
    text-align: center;
  }

  .form__buttons {
    max-height: 185px;
  }
}

@media (max-width: 700px) {
  .form__title h1 {
    font-size: 28px;
    line-height: 35px;
    margin: 0;
  }

  input[type="text"],
  input[type="tel"],
  input[type="datetime-local"],
  textarea {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 25px;
  }

  .button {
    font-size: 18px;
    line-height: 27px;
  }

  .tooltip {
    height: 22px;
    width: 22px;
    margin-left: 5px;

    &__icon {
      height: 22px;
      width: 22px;
    }

    &__text {
      font-size: 16px;
      line-height: 22px;
      padding: 18px 32px;
      max-width: 300px;

      .tooltip--left & {
        max-width: 400px !important;
      }

      img {
        position: absolute;
        left: 15px;
        width: 7px;
        height: 19px;
      }
    }
  }

  .form {
    padding: 10px;

    &__title {
      margin-bottom: 30px;
    }

    &__info {
      font-size: 17px;
      line-height: 26px;

      p {
        margin-bottom: 10px;
      }
    }

    &__block .block__title {
      &--main {
        font-size: 28px;
        line-height: 35px;
      }

      &--secondary {
        font-size: 20px !important;
        line-height: 25px !important;
      }

      &--tertiary {
        font-size: 20px !important;
        line-height: 25px !important;
        margin-bottom: 13px !important;
      }
    }

    &__grid {
      justify-content: center;
    }

    &__buttons {
      width: 100%;
      padding: 0;
    }

    &__request {
      // width: 70%;
      // margin: 20px 0;
      order: 1;
      margin-top: 0;
      width: 100%;

      .request__list {
        min-height: 100px;
        max-height: 200px;

        li {
          font-size: 16px;
          line-height: 22px;
        }
      }

      .request__total {
        font-size: 18px;
        line-height: 23px;
      }
    }

    &__additional {
      top: 0;
      width: 100%;
      margin-bottom: 20px;

      .additional__table .table__row {
        padding: 10px 15px;
        .row__td {
          font-size: 15px;
          line-height: 20px;
        }
      }
    }

    &__submit {
      width: 100%;
      margin: 0 0 20px 0;
      order: 2;

      .submit__additional {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
      }

      form textarea {
        height: 100px;
      }
    }
  }
}

@media (max-width: 500px) {
  .form__buttons {
    max-height: none;
    justify-content: center;

    .button {
      width: 70%;
      margin-bottom: 16px;

      &:nth-child(2) {
        order: 1;
      }

      &:nth-child(4) {
        order: 2;
      }
    }
  }

  .form .form__block .block__title--main {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 17px;
  }

  .tooltip {
    &--left {
      .tooltip__text {
        max-width: 300px !important;
      }
    }

    &__text {
      font-size: 14px;
      line-height: 20px;
      max-width: 200px;

      ul,
      li:first-of-type {
        margin-top: 7px !important;
      }
    }
  }
}

@media (max-width: 450px) {
  .form__request {
    // width: 80%;
  }

  .form__buttons {
    .button {
      width: 80%;
    }
  }
}
